.wrapper{
    width: 60;
    margin: auto;
    border: 5px solid #ddd;
}
label{
    font-size: 25px;
}
.first name, .last name, .email, .password{
    width: 90px;
    height: 25px;
    padding: 10px;
    font-size: 18px;
}
.message{
    font-size: 18px;
    padding: 10px;
}
table{
    width: 100%;
    border: 1px solid black;
} 
th, td{
    font-size: 20px;
    text-align: center;
    border: 1px solid black;

}
td:hover {
    background-color: #ddd;
}